<div class="row">
  <div class='span8 well'>
    <h4><%= authorization.provider.capitalize %></h4>
    <%= render 'shared/user_time_info', user: authorization.user, created_at: authorization.created_at %>
    <small>
  </div>
</div>
